:root {
  --palette-primary: #00c8c8;
  --palette-primary-light: #53c4c4;
  --palette-primary-lighter: #91d4d4;
  --palette-secondary: #f52855;
  --palette-secondary-light: #f16f8b;
  --palette-tertiary: #ffdc32;
  --palette-tertiary-light: #ffe97c;
  --palette-dark: #2c2e56;
  --palette-black: #1b1d22;
  --palette-text: #434449;
  --palette-white: #fcfcfc;
  --palette-off-white: #f6f7fb;
}
/* Utility classes */
a.silent-link,
a.silent-link:hover {
  outline: none;
  border: none;
  background-color: transparent;
  box-shadow: none;
  padding: 0;
}

/* Restyle the dashboard insights cards to look cool */
.insights--card.card,
.insights--card .card-header:first-child {
  border-radius: 0.15rem;
}
.insights--card.card h3 {
  font-size: 22px;
  font-weight: 700 !important;
  color: var(--palette-primary);
}
.insights--card .card-header {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  background-color: var(--palette-white);
}
.insights--card .card-body {
  background-color: var(--palette-primary-light);
  font-weight: 400;
}
.insights--value {
  font-weight: 500 !important;
  font-size: 72px !important;
}
.insights--card.card .card-footer {
  padding: 0;
}
.insights--card.card .card-footer div {
  justify-content: space-between;
}
.insights--card.card .card-footer div button {
  width: 25%;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  font-weight: 500;
  border: none !important;
  color: var(--palette-primary);
}
.insights--card.card .card-footer div button.btn-primary,
.insights--card.card .card-footer div button.btn:hover {
  color: var(--palette-white);
}
/* Secondary color card */
.insights--card-secondary.card h3 {
  color: var(--palette-secondary);
}
.insights--card-secondary .card-body {
  background-color: var(--palette-secondary-light);
}
.insights--card-secondary.insights--card.card .card-footer div button:hover,
.insights--card-secondary.insights--card.card .card-footer div button:active {
  background-color: var(--palette-secondary-light);
}
.insights--card-secondary.insights--card.card
  .card-footer
  div
  button.btn-primary {
  background-color: var(--palette-secondary) !important;
}
.insights--card-secondary.card .card-footer div button {
  color: var(--palette-secondary);
}
/* Tertiary color card */
.insights--card-tertiary.card h3 {
  color: var(--palette-tertiary);
}
.insights--card-tertiary .card-body {
  background-color: var(--palette-tertiary-light);
}
.insights--card-tertiary.insights--card.card .card-footer div button:hover,
.insights--card-tertiary.insights--card.card .card-footer div button:active {
  background-color: var(--palette-tertiary-light);
}
.insights--card-tertiary.insights--card.card
  .card-footer
  div
  button.btn-primary {
  background-color: var(--palette-tertiary) !important;
}
.insights--card-tertiary.card .card-footer div button {
  color: var(--palette-tertiary);
}
/* Accent color card */
.insights--card.accent .card-body,
.insights--card-secondary.accent .card-body,
.insights--card-tertiary.accent .card-body {
  background-color: var(--palette-off-white);
}
/* Primary Accent color card */
.insights--card.accent.card h3 {
  color: var(--palette-primary);
}

.insights--card.accent .card-body,
.insights--card.accent .insights--value {
  color: var(--palette-text);
}
/* Seconday Accent color card */
.insights--card-secondary.accent.card h3,
.insights--card-secondary.accent .card-body {
  color: var(--palette-secondary);
}
/* Tertiary Accent color card */
.insights--card-tertiary.accent.card h3,
.insights--card-tertiary.accent .card-body {
  color: var(--palette-tertiary);
}
/* card list style */
.insights--list,
.insights--list li {
  background-color: var(--palette-primary-light);
  color: var(--palette-white);
}
.insights--list li:nth-child(even) {
  background-color: var(--palette-primary);
}
.insights--list li {
  font-size: 18px;
  font-weight: 400;
  border-radius: 0 !important;
}
/* card list secondary style */
.insights--card-secondary .insights--list,
.insights--card-secondary .insights--list li {
  background-color: var(--palette-secondary-light);
}
.insights--card-secondary .insights--list li:nth-child(even) {
  background-color: var(--palette-secondary);
}
/* card list tertiary style */
.insights--card-tertiary .insights--list,
.insights--card-tertiary .insights--list li {
  background-color: var(--palette-tertiary-light);
}
.insights--card-tertiary .insights--list li:nth-child(even) {
  background-color: var(--palette-tertiary);
}
/* card list accent style */
.insights--card.accent .insights--list,
.insights--card.accent .insights--list li {
  background-color: var(--palette-off-white);
  color: var(--palette-text);
}
.insights--card.accent .insights--list li:nth-child(even) {
  background-color: var(--palette-white);
  color: var(--palette-text);
}
/* card list secondary & tertiary accent style */
.insights--card-secondary.accent .insights--list,
.insights--card-secondary.accent .insights--list li,
.insights--card-tertiary.accent .insights--list,
.insights--card-tertiary.accent .insights--list li {
  background-color: var(--palette-white);
  color: black;
}
.insights--card-secondary.accent .insights--list li:nth-child(even),
.insights--card-tertiary.accent .insights--list li:nth-child(even) {
  background-color: var(--palette-white);
  color: black;
}

.custom-ant-label {
  padding: 0.4rem 0.75rem;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-weight: 400;
}
/* nav sidebar design */
.main-sidebar {
  max-width: 240px !important;
  width: 100%;
  flex: 0 0 240px !important;
  transition: 1s;
}
.main-content {
  max-width: calc(100% - 240px) !important;
  margin-left: 240px !important;
  flex: 0 0 auto !important;
  transition: 1s;
}
/* termas condition */
.document-container h2 ,.document-container p{
  color: rgba(0, 0, 0, 0.65);
  font-size: 16px !important;
  font-variant: tabular-nums;
  line-height: 1.5;
  list-style: none;
  font-feature-settings: 'tnum', "tnum";
  font-weight: normal !important;
  letter-spacing: initial !important;
}
.document-container h1 {
  font-size: 25px !important;
}
.document-container h1 strong{
  font-weight: bold !important;
}
@media only screen and (max-width:767px){
  .main-sidebar {
    max-width: 100% !important;
    width: 100%;
    flex: 0 0 100% !important;
  }
  .main-content {
    max-width: 100% !important;
    margin-left: 0 !important;
    flex: 0 0 auto !important;
  }
}

/* Probably a better way to do this.... */
/* Like tie it up with the "md" "sm" etc. with css classes used in front end */
@media screen and (min-width: 1000px) {
  /* Home page insights cards minus portfolio card */
  .insights--card {
    min-height: 320px !important;
  }
  .insights--card .card-body {
    min-height: 232px !important;
  }
  /* allow versions of the card with no minimum height standards */
  .insights--card.flexible-height,
  .insights--card.flexible-height .card-body {
    min-height: 0 !important;
  }
}
