.search-form .form-control,
.search-form .form-control:focus {
	height: 100%;
	border-radius: 25px;
	font-size: 16px;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	padding-left: 0px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	color: #556573;
}
.search-form .form-control::placeholder{
	font-size: 16px;    
	font-style: normal;
	font-weight: 500;
	line-height: 20px;
	color: #556573;
}

.input-group.form-group {
	background: #FFFFFF;
	background-color: #fff;
	height: 50px;
	border: 2px solid #BEBEBE;
	border-radius: 100px;
}

.input-group.form-group:focus {
	box-shadow: 0 0.313rem 0.719rem rgba(0, 123, 255, 0.1), 0 0.156rem 0.125rem rgba(0, 0, 0, 0.06);
}

.input-group-prepend .input-group-text {
	background-color: transparent;
	border: 0;
}

.input-group-prepend .input-group-text .ant-input-suffix {
	width: 25px;
	height: 25px;
	color: #999;
}

.input-group-prepend .input-group-text .ant-input-suffix .MuiSvgIcon-root {
	fill: #999;
}

.date-range-section {
	display: -webkit-box;
	display: flex;
	align-items: center;
	height: 45px;
	border-radius: 25px;
	background-color: #fff;
	max-width: 400px;
	padding: 0 10px;
	width: 100%;
	border: 1px solid #e1e5eb;
	position: relative;
}

.from-date .form-control,
.end-date .form-control,
.seprate-icon {
	height: 45px;
	border-radius: 25px;
	font-size: 16px;
	background-color: transparent;
	border: 0;
	box-shadow: none;
	padding: 0.4375rem 0.75rem;
}

.date-range p {
	font-size: 18px;
	margin-bottom: 10px;
	font-weight: 600;
}

.ticket-viewitem {
	padding-top: 5px;
}

.ticket-viewitem .card {
	box-shadow: none;
	margin-bottom: 1.25rem;
	background: #FFFFFF;
	border: 2px solid #BEBEBE;
	border-radius: 10px;
}

.filter-icon {
	padding: 5px 10px;
}

.icon-Unlist {
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	align-items: center;
}

.listOfIcon {
	list-style-type: none;
	display: inline-block;
	padding: 0 5px;
	flex: 1;
	text-align: center;
	cursor: pointer;
}

.from-date,
.end-date {
	display: -webkit-box;
	display: flex;
	align-items: center;
}

.check_ticket,
.ava--detail {
	display: flex;
	flex-wrap: nowrap;
	align-items: flex-start;
	width: 100%;
}

.left-radio-btn {
	width: auto;
	padding: 5px 0 0;
}

.ticket-details-item {
  width: 100%;
}

.wrap-flex-list{
	flex-wrap: wrap;
}
.two-column {
	width: calc(100% / 2) ;
}
.three-column {
	width: calc(100% / 3) ;
}

.left-radio-btn form input[type="radio"] {
	width: 25px;
	height: 25px;
}

.left-header h1 {
	letter-spacing: normal;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: normal;
    color: #121223;
	cursor: pointer;
}
.event-id-item {
	padding: 0px;
	max-width: 150px;
	width: 100%;
}
.left-header{
	width:100%;
	max-width: calc(100% - 150px);
}

.ava--detail .place-date {
	width: 40%;
	border-right: 1px solid #d7d7d7;
}

.ava--detail .ticket--item {
	max-width: min-content;
	width:100%;
	padding-left: 0px;
}

.date--time {
	font-size: 23px;
	color: #2C91EE;
	font-weight: 500;
	margin: 0;
	word-break: break-word;
	line-height: normal;
	letter-spacing: 0;
}

.loaction-text {
	margin: 0;
	font-style: normal;
	font-size: 14px;
	line-height: normal;
	text-align: right;
	color: #042F61;
}

.ticket--item .table th {
	text-align: center;
	border: 0;
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 20px;
	color: #121223;
	padding: 5px;
}

.ticket--item .table td {
	font-size: 15px;
	text-align: center;
	font-style: normal;
	font-weight: 500;
	color: #777;
	border: 0;
	width: max-content;
	padding: 5px;
    font-family: "Helvetica Neue Medium", sans-serif;
}

.addlisting-left-header h1 {
	font-size: 24px;
	font-weight: 600;
	color: #5a5d6e;
}

.addlisting-date--time {
	font-size: 19px;
	color: #2C91EE;
	font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
	margin: 0;
}

.attachment-empty-div {
	border: 1px solid #dddddd;
	padding: 10px;
	color: #736767;
	font-size: 13px;
	margin-bottom: 5px;
    font-family: "Helvetica Neue Regular", sans-serif;
}

.add-disclosure-icon {
	color: #2C91EE;
	margin-left: 5px;
}

.addlisting-loaction-text {
	font-size: 19px;
	color: #5a5d6e;
	font-weight: 500;
	margin: 0;
	margin-bottom: 30px;
    font-family: "Helvetica Neue Medium", sans-serif;
}

.capitalize {
	text-transform: capitalize;
}

.addlisting h1 {
	line-height: 1.5rem !important;
}

.addlisting-border {
	border-color: #c4183c !important;
}

.add-listing-validation-error {
	margin-top: 0.25rem;
	font-size: 80%;
	color: #c4183c;
}

.add-listing-group-name {
	width: calc(100% / 1) !important;
}

.add-listing-group-name h4 {
	color: #0067a0;
	font-size: 21px;
	font-weight: 600;
    font-family: "Helvetica Neue Semibold", sans-serif;
}

.add-listing-form-group {
	margin-bottom: 20px;
}

.add-listing-form-group-full-width {
	width: calc(100% / 1) !important;
}

.add-listing-form-group-half-width {
	width: calc(100% / 2) !important;
}

.add-listing-form-group-four-width {
	width: calc(100% / 4) !important;
}

.add-listing-text-area {
	height: 100px !important;
}

.add-listing-append-form-border {
	border: 1px solid #01c8c9;
	padding: 10px;
	margin-bottom: 10px !important;
	margin-top: 10px !important;
}

.seat-row-sec {
	display: -webkit-box;
	display: flex;
	align-items: flex-start;
	text-align: center;
	justify-content: center;
}

.right-border {
	border-right: 1px solid rgb(184, 184, 184);
	padding: 0 8px;
}
.seat-row-sec.rightClick-Menu .right-border {
	width: 120px;
}
.right-border:last-child {
	border: 0;
}

.seat-ava {
	font-size: 18px;
	color: #2C91EE;
	font-weight: 600;
	margin-bottom: 0;
	line-height: normal;
    font-family: "Helvetica Neue Semibold", sans-serif;
}

.ava-quantity {
	color: #2C91EE;
	font-size: 16px;
	margin-bottom: 0;
	line-height: normal;
    font-family: "Helvetica Neue Semibold", sans-serif;
}

.finish-quantity {
	margin-bottom: 0;
	font-style: normal;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	color: #001F1D;
    font-family: "Helvetica Neue Bold", sans-serif;
}

.right-border p,
.fliter-bottom .row {
	margin: 0;
}

.fliter-bottom .form-group {
	width: calc(100% / 2);
	padding: 0 10px;
}
.fliter-bottom-3 .form-group{
	width: calc(100% / 3);
	padding: 0 10px;
}

.fliter-bottom {
	border: 1px solid #c8c8c8;
	border-radius: 15px;
	padding: 15px;
	transition: 2s;
	position: absolute;
	top: 60px;
	background: rgb(255, 255, 255);
	z-index: 3;	
	display: none;
	width: 100%;
}
.fliter-bottom.listing-filter-item.active{	
	display: block;
    animation: fadeIn 1s alternate;
}
@keyframes fadeIn { 
	from { opacity: 0; } 
}
.add-listing-fliter-bottom {
	border: 1px solid #fff !important;
}

.fliter-bottom .form-group label {
	color: #333;
	font-family: "Helvetica Neue Bold";
	font-weight: 600;
}

.fliter-bottom .form-group .form-control,
.fliter-bottom .form-group select.form-control:not([size]):not([multiple]) {
	height: 45px;
	border-radius: 25px;
	font-size: 16px;
	font-weight: 400;
	font-family: "Helvetica Neue Regular";
}

.myTicket-item {
	margin-bottom: 25px;
}

.tags-btn {
	background-color: #f1f1f1;
	border-radius: 5px;
	padding: 2px 5px;
	margin: 0 5px 5px 0;
	width: max-content;
	font-size: 14px;
}

.rdrDateRangePickerWrapper {
	position: absolute;
	top: 0;
	z-index: 99;
}

.rdrDefinedRangesWrapper {
	display: none;
}

.rdrDateRangePickerWrapper {
	display: block !important;
}


/* search filter drop down */

.TypeAheadDropDown {
	width: 100%;
	border-radius: 5px;
	background-color: #fff;
	z-index: 100;
}

.TypeAheadDropDown input {
	width: 100%;
	border: none;
	padding: 10px 5px;
	box-sizing: border-box;
	outline: none;
	height: 50px;
}

.TypeAheadDropDown ul::before {
	content: "";
}

.TypeAheadDropDown ul {
	list-style-type: none;
	text-align: left;
	margin: 0;
	padding: 0;
	max-height: 200px;
	overflow: hidden;
	overflow-y: auto;
}

.TypeAheadDropDown li {
	padding: 10px 15px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 400;
	font-family: "Helvetica Neue Regular";
	padding-left: 50px;
}

.TypeAheadDropDown li:hover {
	background-color: rgb(246, 251, 255);
	color: #2C91EE;
}

.rmsc.form-control .dropdown-container:focus-within,
.form-control:focus,
.form-control:focus:hover {
	box-shadow: none;
	border-color: #e1e5eb;
}


/* search filter drop down */

.react-datepicker__input-container input {
	height: 50px;
	border-radius: 25px;
	font-size: 16px;
	font-weight: 400;
	font-family: "Helvetica Neue Regular";
	width: 320px;
	background: #FFFFFF;
	border: 2px solid #BEBEBE;
	padding-left: 62px;
	outline: none;
}

button.react-datepicker__close-icon {
	position: absolute;
	top: 31px;
	right: 6px;
	height: auto;
}
.react-datepicker-wrapper .react-datepicker__close-icon {
	position: absolute;
	top: 35px;
	right: 6px;
	height: auto;
}
.react-datepicker-wrapper .react-datepicker__close-icon::after {
    cursor: pointer;
    background-color: #ffffff00;
    color: #7e6180;
    border-radius: 50%;
    height: 30px;
    width: 30px;
    padding: 2px;
    font-size: 30px;
    line-height: 1;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    content: "\D7";
}


/* Css for listings check box */

.styled-checkbox {
	position: absolute;
	width: 20px !important;
	height: 20px !important;
	opacity: 0;
}
.form-group.checkbox-item{
	position: relative;
}

.checkbox-item label {
	position: relative;
	cursor: pointer;
	padding: 0;
}

.checkbox-item label:before {
	content: "";
	margin-right: 10px;
	display: block;
	width: 20px;
	height: 20px;
	border-radius: 15px;
	background: #F2F2F4;
	border: 2px solid #2C91EE;
}

.styled-checkbox[type="checkbox"]:checked+label:before {
	background: #F2F2F4;
}

.styled-checkbox[type="checkbox"]:checked+label:after {
	content: "";
	position: absolute;
	left: 3px;
	top: 3px;
	background: #2C91EE;
	width: 14px;
	height: 14px;
	border-radius: 100%;
}


/* Css for listings check box */

.dropdown-container,
.dropdown-container:focus,
.dropdown-container:active {
	background: transparent !important;
	border: 0 !important;
	height: 45px;
	border-radius: 25px;
	font-size: 16px;
	font-weight: 400;
	font-family: "Helvetica Neue Regular";
}

.rmsc.form-control {
	padding: 0;
}


.tags-item {
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	max-width: 180px;
	width: max-content;
	margin: 0 auto;
}

.flex--sec {
	flex: 1;
}

td.listing-checkbox input[type="checkbox"] {
	width: 20px;
	height: 20px;
	background: #FFFFFF;
	border: 2px solid #BEBEBE;
	margin: 0 auto;
}


/* Adding button like view in event listings */

.availableBtn {
	display: block;
	border-radius: 10px;
	background-color: #2C91EE;
	color: #fff;
	min-width: 60px;
	height: 30px;
	max-width: max-content;
	padding: 2px;
	margin: 0 auto;
	font-size: 18px;
}

.ticketSold {
	display: block;
	border-radius: 10px;
	background-color: #00A399;
	color: #fff;
	min-width: 60px;
	height: 30px;
	max-width: max-content;
	padding: 2px;
	margin: 0 auto;
	font-size: 18px;
}

.sevenDays {
	display: block;
	border-radius: 10px;
	background-color: #0067A0;
	color: #fff;
	min-width: 60px;
	height: 30px;
	max-width: max-content;
	padding: 2px;
	margin: 0 auto;
	font-size: 18px;
}

.daysEvent {
	display: block;
	border-radius: 10px;
	background-color: #FF5D5D;
	color: #fff;
	min-width: 60px;
	height: 30px;
	max-width: max-content;
	padding: 2px;
	margin: 0 auto;
	font-size: 18px;
}

.awaitDelivery {
	display: block;
	border-radius: 10px;
	background-color: #3CB9DB;
	color: #fff;
	min-width: 60px;
	height: 30px;
	max-width: max-content;
	padding: 2px;
	margin: 0 auto;
	font-size: 18px;
}

.addList-btn, .addList-btn:hover, .uploadTic-btn, .uploadTic-btn:hover {
    background: #2C91EE;
    border: 2px solid #2C91EE;
    border-radius: 100px;
    width: 200px;
    height: 40px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    display: inline-block;
    padding: 7px;
    margin: 0 10px;
	text-decoration: none;
}

.date--PickQr svg {
	position: absolute;
	z-index: 10;
	left: 10px;
	top: 9px;
}

.date--PickQr {
	position: relative;
}

select {
	appearance: none;
}

.form-group.dropArrow:after {
	content: url(../images/down-arrow.png);
	position: absolute;
	top: 40px;
	right: 22px;
}

.form-group.dropArrow {
	position: relative;
}

.loader-bg {
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 1051;
}

.modal-bg-loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(250, 250, 250, 0.7);
	display: none;
	z-index: 1050;
}

.loader-background .modal-bg-loader {
	display: block;
}

.date-range button.btn.btn-primary,
.date-range button.btn.btn-primary:focus,
.date-range button.btn.btn-primary:active,
.date-range button.btn.btn-primary:hover {
	background-color: #fff;
	border: 2px solid #BEBEBE;
	box-shadow: none;
	outline: 0;
	border-radius: 100px;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	color: #556573;
	width: 230px;
	height: 50px;
}

a.left-arrow-icon svg {
	color: #4a4a4a;
	width: 24px;
	height: 24px;
	margin-bottom: 0.75rem;
}

.contextMenu {
	position: fixed;
	background: #F2F2F4;
	border: 1px solid #BEBEBE;
	box-sizing: border-box;
	border-radius: 5px;
	width: 115px;
	height: auto;
	z-index: 10;
}

.contextMenu ::before {
	font-family: sans-serif;
	font-size: 12px;
	color: #fff;
}

.contextMenu--option {
	font-style: normal;
	font-weight: 500;
	font-size: 13px;
	line-height: 20px;
	padding: 6px 6px;
	color: #000000;
}

.contextMenu--option:hover {
	color: #2C91EE;
	cursor: pointer;
}

.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}

.modal-main {
	position: fixed;
	background: white;
	width: 80%;
	height: auto;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.display-block {
	display: block;
}

.display-none {
	display: none;
}

tr.listingContextMenu td label {
	margin-bottom: 0;
}

tr.listingContextMenu td label .form-control {
	min-width: 40px;
	padding: 10px 0px;
}

.margin-color {
	color: #556573 !important;
	font-weight: 600 !important;
}

.margin-color-red {
	color: #FF5D5D !important;
	font-weight: 600 !important;
}

.margin-color-green {
	color: #00A399 !important;
	font-weight: 600 !important;
}


.single-datepicker {
	display: -webkit-box;
	display: flex;
	height: 45px;
	border-radius: 25px;
	font-size: 16px;
	font-weight: 400;
	font-family: "Helvetica Neue Regular";
	background-color: #fff;
	border: 1px solid #e1e5eb;
	padding-left: 21px;
	width: 100%;
	align-items: center;
	position: relative;
}

.single-datepicker input,
.single-datepicker input:focus,
.single-datepicker input:focus-visible {
	border: 0;
	background: transparent;
	padding: 10px;
	width: 100%;
	box-shadow: none;
	outline: none;
}

.singleDate {
	width: 100% !important;
}

.rmsc .dropdown-heading .dropdown-heading-value {
	width: 100px;
}


/* 19-07-2021 */
.menu-collapsed .main-sidebar {
	max-width: 85px !important;
	transition: 1s;
}
.main-sidebar{
	max-width: 240px;
	transition: 1s;
}

.menu-collapsed .main-content {
	max-width: calc(100% - 85px) !important;
	margin-left: 85px !important;
	flex: 0 0 auto !important;
	transition: 1s;
}

.menu-collapsed .main-sidebar .nav .nav-link span {
	display: none;
}

.main-sidebar .nav .nav-item .nav-link {
    height: 45px;
    width: 200px;
    max-width: 200px;
    display: flex;
    padding: 10px 5px !important;
    align-items: center;
}
.menu-collapsed .main-sidebar .nav .nav-link{
	justify-content: center;
}

.main-footer .copyright {
	margin-left: auto !important;
	padding: 10px 0;
}

.fade.custom-modal .modal-dialog.modal-lg {
	max-width: 70%;
}

.btn.collapseToggleMenu {
    margin-right: 0;
    color: #2C91EE;
    padding: 0;
    font-size: 15px;
    text-align: center;
	background: #FBFBFB;
	border: 1px solid #D1D4E1;
	width: 20px;
	height: 20px;
	border-radius: 100%;    
	display: flex;
    align-items: center;
    justify-content: center;
}

.btn.collapseToggleMenu:hover {
	background: #FBFBFB;
	border: 1px solid #D1D4E1;
	color: #2C91EE;
}
/* 19-07-2021  */

.noDecoration {
	text-decoration: none !important;
}

.current-page {
	font-size: 1.5rem;
	vertical-align: middle;
}

.current-page,
.country-name,
.country-region {
	line-height: 1;
}


/* Override some Bootstrap pagination styles */

ul.pagination {
	margin-top: 0;
	margin-bottom: 0;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

ul.pagination li.page-item.active a.page-link {
	color: #445565 !important;
	background-color: #e3e7eb !important;
	border-color: #ced4da !important;
}

ul.pagination a.page-link {
	padding: 0.75rem 1rem;
	min-width: 3.5rem;
	text-align: center;
	box-shadow: none !important;
	border-color: #ced4da !important;
	color: #6b88a4;
	font-weight: 900;
	font-size: 1rem;
}

ul.pagination a.page-link:hover {
	background-color: #f4f4f4;
}

.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^="bottom"] .react-datepicker__triangle::after {
	border-top: none;
	border-bottom-color: #c5c5c5 !important;
}

.add-listing-form-group .react-datepicker-wrapper {
	width: 100%;
}
.seat_information-item{
	padding-bottom: 0;
}
.check-events--list{
	border:1px solid #d7d7d7;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}
.custom-b-radius{
	border-radius: 25px;
}
.event-id-number{
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
	text-align: right;
	color: #556573;
	cursor: pointer;
}
li.page-item.active { /* Pagination */
	z-index: 0;
}
.main-sidebar .nav-wrapper,.seat_information-item.table-responsive,.seat_information-item.table-responsive tbody{
	/* scrollbar-width: thin;
  	scrollbar-color: #f3f3f3; */
	-ms-overflow-style: none;
  	scrollbar-width: none;
}
.main-sidebar .nav-wrapper::-webkit-scrollbar{
	display: none;
}
::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 8px;
	height: 8px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #b9b9b9;
}
.seat_information-item.table-responsive{
	max-height: 450px;
	overflow: auto;
}
.file.file--upload {
	padding-left: 2rem;
	width: auto;
	cursor: pointer;
}
.ticket-attached-btn{
	position: relative;
}
.ticket-attached-btn .form-control {
    position: absolute;
    top: 0;
    opacity: 0;
    width: 100%;
    border-radius:0;
	padding: 0;
	left: 0;
	height: 100%;
	cursor: pointer;
}
.file.file--upload label {
    width: 30px;
    height: 40px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.upload-item.channel-markup-row{
    justify-content: start !important;
}
.ticket-count {
    width: 85%;
}
.ticket-count .form-control{
	border-radius: 10px;
}
.label-profile-item {
    width: 180px;
}
.switch-btn-item {
    width: 100px;
}
.channel-input-item {
    width: 300px;
}
.upload-section-bg {
    padding: 1.5rem;
    background-color: #ffffff;
	border-radius: 10px;
}
.ava-ticket-detail a {
  width: 100% !important;
}
.hide-event-listing {
	display:none
}
.show-event-listing {
	display: block;
}
.ctxtm-disabled:hover {
	color: #000000;
	cursor: not-allowed;
}
.card.bottom-switch-card-section:last-child {
    margin: 10px auto;
}
.bgc-red{
	background: #ffcece;
}
.bgc-green{
	background: #b3e3e0;
}
.bgc-blue{
	background: #bbdeff;
}
.price-modal-stmt{
	font-style: italic;
	font-weight: bold;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	color: #556573;
}
.price-modal-stmt .pos-price{
	color: #00A399;
}
.pos-price.percent{
	color: #ff5d5d;
}
.price-modal-stmt .neg-price{
	color: #ff5d5d;
}
.header-ticket-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
	grid-gap: 15px;
}
.purchase-order-grid-list {
	grid-gap: 15px;
}
.date--PickQr .react-datepicker-wrapper {
    width: 100%;
}
.comfirmation-txt-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    margin: 0;
    color: #556573;
}
.info-btn-listing.btn.btn-secondary {
    width: 175px;
    height: 50px;
    background: #BEBEBE;
    border-radius: 15px;
    border: 1px solid #BEBEBE;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
h3.support-success {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #121223;
}
p.success-txt {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #121223;
}
button.ant-btn.ant-btn-primary.success-btn--gr {
    background: #2C91EE !important;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 1px solid #2c91ee !important;
	box-shadow: none !important;
}
/* terms and condition  */
.page-title-item{
	font-style: normal;
	font-weight: bold !important;
	font-size: 28px !important;
	line-height: 22px !important;
	color: #000000;
	margin-bottom: 2rem;
}
.page-subtitle-item{	
	font-style: normal;
	font-weight: bold !important;
	font-size: 20px !important;
	line-height: 22px !important;
	color: #000000;
	margin-bottom: 1.5rem;
}
.doc-page-para{
	font-style: normal;
	font-weight: normal !important;
	font-size: 16px !important;
	line-height: 22px !important;
	color: #000000;
	margin-bottom: 1.5rem;
}
li .doc-page-para{
	margin-bottom: 0.5rem;
}
.page-list{
	margin-bottom: 1.5rem;
}
.doc-subtitle-item{
	font-style: normal;
	font-weight: bold !important;
	font-size: 20px !important;
	line-height: 22px !important;
	color: #0067a0;
	margin-bottom: 1.5rem;
}
.doc-subtitle-item-black{
	font-style: normal;
	font-weight: bold !important;
	font-size: 20px !important;
	line-height: 22px !important;
	color: #000000;
	margin-bottom: 1.5rem;
}
.scrolling-bar-design{
	overflow: hidden;
	overflow-y: auto;
	padding: 4px 20px 0px 39px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
.doc-page-para a {	
	color: #0067a0;
	text-decoration: underline;
}
.download-btn.btn {
    padding: 0;
    background: transparent;
    border: 0;
    color: #0067a0;
	font-style: normal;
	font-weight: normal !important;
	font-size: 16px !important;
	line-height: 22px !important;
}
.inner-listing-item li {
    list-style-type: disc;
}
.scrolling-bar-design::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F2F2F4;
}

.scrolling-bar-design::-webkit-scrollbar
{
	width: 6px;
	background-color: #F2F2F4;
}

.scrolling-bar-design::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D1D4E1;
}
.right-delivery-grid .react-datepicker__input-container input {
    max-width: 189px;
    height: 30px;
    width: 100%;
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 10px;
    padding: 3px 0 3px 4px;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
	color: #556573;
	font-size: 14px;
	line-height: 17px;
}
.right-delivery-grid .react-datepicker__input-container input::placeholder{
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
	color: #556573;
	font-size: 14px;
	line-height: 17px;
}
.edit-input-box {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 10px;
    max-width: 189px;
	width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding: 2px 4px;
}
.edit-input-box .form-control {
    height: 100%;
    border: 0;
    background: transparent;
    width: 100%;
	padding: 0 0 0 4px;
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #556573;
    font-family: "Helvetica Neue Medium", sans-serif;
}
.edit-input-box .form-control::placeholder{
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 17px;
	color: #556573;
    font-family: "Helvetica Neue Medium", sans-serif;
}
.edit-input-box h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 14px !important;
    line-height: 17px;
    color: #556573 !important;
    margin: 0;
    padding-right: 2px;
}
button.ant-btn.btn-save-tn.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #2C91EE;
    background: transparent;
    border: 0;
    padding: 0;
    box-shadow: none;
	text-decoration: underline;
	text-decoration-line: underline;
    border-bottom: 1px solid #2C91EE;
    border-radius: 0;
}
button.ant-btn.btn-edit-tn.btn {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
	text-decoration: underline;
    text-decoration-line: underline;
    color: #556573;
    background: transparent;
    border: 0;
    padding: 0;
    margin-left: 10px;
    border-bottom: 1px solid #556573;
    border-radius: 0;
}
.order-detail-channel-card .purchaser-order-gris-2 {
    grid-gap: 0;
}
.delivery-status-grid.dynamic_edit-detail,.order-grid-section.p-0.dynamic_edit-detail {
    grid-template-columns: auto auto;
    justify-content: space-between;
}
.purchaser-order-gris .right-delivery-grid h6 {
    text-align: right;
	margin: 0;
}
.order-grid-section.dynamic_edit-detail .Left-delivery-grid h6{
	margin-bottom: 0;
}
.order-grid-section.dynamic_edit-detail .css-yk16xz-control{
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 10px;
    width: 135px;
    max-height: 30px;
    min-height: 30px;
	line-height: 28px;
}
.order-grid-section.dynamic_edit-detail .css-1pahdxg-control {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 10px;
    width: 135px;
    max-height: 30px;
    min-height: 30px;
	line-height: 28px;
}
.order-grid-section.dynamic_edit-detail .css-g1d714-ValueContainer{
	height: 100%;
}
.order-grid-section.dynamic_edit-detail .css-1uccc91-singleValue,.delivery-status-grid.dynamic_edit-detail .css-1uccc91-singleValue{
	transform: none;
	top: 0;
    font-size: 14px !important;
    color: #556573 !important;
}
.order-grid-section.dynamic_edit-detail .css-tlfecz-indicatorContainer,.delivery-status-grid.dynamic_edit-detail .css-tlfecz-indicatorContainer,
.delivery-status-grid.dynamic_edit-detail .css-1gtu0rj-indicatorContainer,.order-grid-section.dynamic_edit-detail .css-1gtu0rj-indicatorContainer {
	height: 100%;
	padding: 4px 0px;
}
.field-grid-sec {
    display: grid;
    grid-template-columns: auto 1fr;
    max-width: 221px;
    grid-gap: 8px;
}
.order-grid-section.dynamic_edit-detail .edit-input-box {
    max-width: 221px;
}
.edit-input-box.vendor-input-field{
	width: 135px;
}
.delivery-status-grid.dynamic_edit-detail .css-yk16xz-control {
    min-height: 30px;
    height: 30px;
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 10px;
    width: 189px;
	line-height: 26px;
}
.delivery-status-grid.dynamic_edit-detail .css-1pahdxg-control {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 10px;
    width: 189px;
    max-height: 30px;
    min-height: 30px;
	line-height: 26px;
}
.css-1okebmr-indicatorSeparator {
    margin-bottom: 3px !important;
    margin-top: 2px !important;
    width: 1px;
    height: 23px;
}
.order-notes-txt .form-control.edit-text-area {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 10px;
    width: 100%;
    height: 114px;
    margin-bottom: 1rem;
    font-size: 14px;
    color: #556573;
}
span.validate-error {
    color: #ff0000;
}
.edit-input-box.is-in-valid{
	border-color: #ff0000;
}
.line-item-grid-3-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
.line-item-grid-add-btn {
    text-align: center;
}
.purchase-order-submit-section .btn.event-submit-btn,.purchase-order-submit-section .btn.event-submit-btn:hover,.purchase-order-submit-section .btn.event-submit-btn:active,.purchase-order-submit-section .btn.event-submit-btn:focus {
    width: 500px;
}

.document--grid-edit-sec {
    display: flex;
    flex-flow: row;
    align-content: center;
    margin-left: auto;
	padding-right: 15px;
}
.document--grid-edit-sec .document--item,.document--grid-edit-sec .view-section {
    padding-right:20px;
}
.document--grid-edit-sec .replace--item-kjk input.ant-input {
    width: 160px;
}
.ag-theme-custom-cost{
	color: #00A399;
}
.ag-theme-custom-seats{
	color: #2C91EE;
}
.order-tags-grid.edit-tags-show .tags-title {
    max-width: 100px;
    width: 100%;
}
.order-grid-section .order-tags-grid.edit-tags-show {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 10px;
    width: 100%;
    min-height: 76px;
    height: auto;
    padding: 14px 16px;
    align-items: center;
}
.order-grid-section .tags-box-item {
    width: 100%;
	padding-left: 31px;
}
.order-grid-section .tags-title h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 17px;
    color: #556573;
	margin: 0;
	padding: 0;
}
.order-tags-grid .css-yk16xz-control,.order-tags-grid .css-1pahdxg-control{
    border: 0;
    height: 100%;
    background: transparent;
    width: 100%;
    margin-left: auto;
	border-color: #fff;
	box-shadow: none;
}
.custom-table-purchase.ag-theme-balham .ag-row {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px !important;
    color: #000000;
    border-bottom: 1px solid #BEBEBE !important;
}
.tags-box-item .css-1rhbuit-multiValue{
	border-radius:100px !important;
}
.css-xb97g8{
	border-radius:10px !important;
}
.edit-invoice-grid-sec {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 10px;
}
.edit-invoice-grid-sec .invoice-replace--btn {
    position: absolute;
    top: 0;
    z-index: 1;
    margin: 0 !important;
    height: 40px;
}
.edit-invoice-grid-sec .invoice-view--btn.btn.btn-primary{
	height: 40px;
}
h3.success-para {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #121223;
}
.btn.success-btn-close,.btn.success-btn-close:hover,.btn.success-btn-close:focus,.btn.success-btn-close:active {
    background-color: #2C91EE;
    border-radius: 15px;
    width: 300px;
    height: 50px;
    border: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
}
button.file-upload--btn.btn {
    position: absolute;
    top: 0;
    background: #2c91ee;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
	left: 0;
	border: 0;
	box-shadow: none;
}
.choose-file-item input[type="file"] {
    height: 100%;
	text-align: left;
    position: relative;
    z-index: 2;
    opacity: 0;
}
.choose-file-item{
	height: 50px;
	width:150px;
    position: relative;
}
.upload--section{
	position: relative;
	text-align:center;
}
.upload--section {
    position: relative;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
	grid-gap: 15px;	
    max-width: 400px;
    margin: 0 auto;
}
.file-name-section span {
    text-align: left;
    width: 100%;
    display: inline-block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #556573;
}
.ant-modal.uploading-modal-item .ant-modal-footer,.ant-modal.uploading-modal-item .ant-modal-header{
	border: 0;
	text-align: center;
}
.ant-modal.uploading-modal-item .ant-modal-footer > div{
	border: 0;
	text-align: center;
	margin: 0 auto;
    max-width: 420px;
    width: 100%;
    display: flex;
    justify-content: space-between;
	padding: 10px;
}
.ant-modal.uploading-modal-item .ant-btn {
    background: #BEBEBE;
    border-radius: 15px;
    width: 175px;
    height: 50px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    border: 0;
}
.ant-modal.uploading-modal-item .ant-btn.ant-btn-primary {
    background: #2C91EE;
    border-radius: 15px;
}

.info-header-grid-item{
	grid-template-columns: auto !important;
}
.continue-btn,.continue-btn:hover,
.continue-btn:active,.continue-btn:focus {
    background: #2C91EE !important;
    border: 2px solid #2C91EE !important;
    border-radius: 15px;
    width: 438px;
    height: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.right-delivery-grid.address-edit-item {
    margin-bottom: 0.8rem;
}
.share-unshare-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #121223;
}
.edit-city-select-box .css-yk16xz-control,.edit-city-select-box .css-1pahdxg-control {
    max-width: 100%!important;
    width: 100% !important;
}
.edit-city-select-box .css-1hb7zxy-IndicatorsContainer {
    display: none;
}
.price-update-box {
    position: absolute;
    background: #F2F2F4;
    border: 1px solid #BEBEBE;
    box-sizing: border-box;
    border-radius: 5px;
    min-width: 300px;
    height: 70px;
    padding: 6px;
    top: 0px;
    left: 100px;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
h6.price-update-text {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #121223;
	text-align: left;
	margin-bottom: 0;
}
h6.price-update-text span {
    color: #2C91EE;
}
.change-by-text h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 20px;
    color: #121223;
	text-align: left;
	margin-bottom: 0;
}
.change-by-text h5 span{
	color: #556573;
}
.price-change-text h5 {
	font-style: italic;
    font-weight: bold;
    font-size: 12px;
    line-height: 20px;
    color: #121223;
    margin-bottom: 0;
	text-align: left;
}
/* .price-change-text h5 span{
	color: #0fa89e;
} */
  .positive{
	color: #0fa89e;
}
  .negative{
	color: #fe5861;
}
.seat_information-item.table-responsive-sec td{
	position: relative;
}
span.price-dots {
    background: #00A399;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 100%;
    position: absolute;
    top: 44%;
    right: 8px;
}
.listing-viagogo-hold{
	background: #F2F8E8;
}
.listing-sold{
	background: #B3E3E0;
}
.listing-inactive{
	background: #D1D4E1;
}
h3.inactive-text{
	color: #556573;
	font-style: italic;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}
.listing-active{
	background: #FFFFFF;
}
.reset-btn-text,.reset-btn-text:hover,.reset-btn-text:focus,.reset-btn-text:active {
    background: transparent;
    border: 0;
    padding: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #2C91EE;
	box-shadow: none;
}
.form-check-container {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.form-check-container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}
.form-check-container .checkmark {
	position: absolute;
	top: 2px;
	left: 0;
	width: 16px;
	height: 16px;
	border: 2px solid #BEBEBE;
	border-radius: 50%;
}
.form-check-container input:checked ~ .checkmark {
	background-color: #fff;
}
.form-check-container .checkmark:after {
	content: "";
	position: absolute;
	display: none;
}
.form-check-container input:checked ~ .checkmark:after {
	display: block;
}
  
.form-check-container .checkmark:after {
	top: 2px;
	left:2px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: #2C91EE;
}
.select-all-radio-btn label.form-check-container {
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 20px;
    color: #000000;
    margin-left: 0px;
    padding-left: 30px;
}
.sort-submit-btn.disable-sort-btn {
    background: #BEBEBE !important;
    border: 1px solid #BEBEBE !important;
}
h5.disclosure-content-view {
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    color: #556573;
	font-family: "SF-Pro-Rounded-Bold", sans-serif;
}
li.disclosure-list-text {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 40px;
    color: #121223;
	font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.disclosures-item-body{
	max-width: 320px;
	width: 100%;
	margin: 0 auto;
}
.text-with-link {
    text-align: center;
    padding: 15px 0 25px 0;
    max-width: 400px;
    margin: 0 auto;
}
.uploading-modal-item .ant-modal-body {
    padding-top: 0px;
}
.text-with-link span {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #121223;
	font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.form-group.event-page-timepicker input.ant-time-picker-input {
    height: 100%;
    border: 0;
}
.form-group.event-page-timepicker .ant-time-picker-icon {
    display: none;
}

.form-group.event-page-timepicker .form-control {
    position: relative;
    padding: 0 !important;
    padding-left: 60px !important;
}
.form-group.event-page-timepicker .ant-time-picker-clear{
	top: 30%;
	right: 15px;
}
.form-group.event-page-timepicker .ant-time-picker-clear svg {
    color: #c1c2c4;
}
.ant-modal.purchase-order-modal {
    max-width: 340px;
}
.ant-modal.purchase-order-modal .ant-modal-content {
    border-radius: 10px !important;
    overflow: hidden;
}
.ant-modal.purchase-order-modal .ant-modal-header {
    border: 0;
}
.ant-modal.purchase-order-modal .ant-modal-close svg {
    color: #4e4e4e5c;
}
button.search-close-icon {
    position: absolute;
    top: -2px;
    right: -2px;
    background: white;
    border: 0;
    bottom: 0px;
    padding: 6px 10px;
    font-size: 20px;
    font-weight: 500;
    font-family: "SF-Pro-Rounded-Medium", sans-serif;
    box-shadow: none;
    z-index: 3;
    height: 50px;
    border-radius: 0 30px 30px 0;
    border: 2px solid #bebebe;
    border-left: 0;
    width: 50px;	
    outline: none;
}
.search-top-input .search-close-icon {
    top: 0;
    right: 0;
}
button.event-clear.search-close-icon {
	border-radius: 0 15px 15px 0 !important;
}
.form-group.section-filter-item.genre-dropdown .css-yk16xz-control,.form-group.section-filter-item.genre-dropdown .css-yk16xz-control:hover,.form-group.section-filter-item.genre-dropdown .css-1pahdxg-control,.form-group.section-filter-item.genre-dropdown .css-1pahdxg-control:hover {
    max-width: 100%;
    width: 195px;
}
.d-flex.section-operation-row-item {
    max-width: 400px;
    grid-gap: 10px;
}
.top-label-text {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #121223;
	font-family: "SF-Pro-Rounded-Bold", sans-serif;
    padding: 0 15px;
}
.price-confirmation--modal.create-issues-modal .modal-dialog {
    max-width: 800px;
}

.price-confirmation--modal.create-issues-modal label {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #001F1D;
    font-family: "SF-Pro-Rounded-Bold", sans-serif;
}
.create-select-box .css-yk16xz-control,.create-select-box .css-1pahdxg-control {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 10px;
    width: 100%;
    height: 50px;
	box-shadow: none !important;
	outline: none !important;
}
.create-select-box .css-1hb7zxy-IndicatorsContainer .css-1okebmr-indicatorSeparator {
    height: auto;
}
.price-confirmation--modal.create-issues-modal h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 25px;
    text-align: center;
    color: #121223;
    width: 100%;
}
.price-confirmation--modal.create-issues-modal .modal-content {
    padding: 20px 0;
}
.secondary-bg-color.create-issues-btn {
    background: #0067A0 !important;
    border-color: #0067A0 !important;
	width: 400px !important;
	height: 50px;
}
.issue-footer{
	text-align: center !important;	
}

.assign-admin-modal .css-yk16xz-control,.assign-admin-modal .css-1pahdxg-control {
    width: 100%;
    height: 50px;
    border: 2px solid #bebebe!important;
    border-radius: 15px;
    font-style: normal;
    font-weight: 500;
    font-family: Helvetica Neue Medium,sans-serif;
    font-size: 16px;
    line-height: 20px;
	outline: none;
    color: #556573;
	box-shadow: none;
}
.assign-admin-modal .css-1okebmr-indicatorSeparator{
	height: auto;
}
.assign-admin-modal .css-26l3qy-menu{
	position: relative;
}
.assign-admin-modal h4 {
    font-family: Ubuntu,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: normal;
    text-align: center;
    color: #121223;
    width: 100%;
}

.tag-grid-section .css-4ljt47-MenuList {
    max-height: 200px !important;   
}
.genre-dropdown .css-4ljt47-MenuList{
	max-height: 180px !important;
}
.file-replace-section .replace-order-btn {
    top: -20px;
    position: relative;
    z-index: 1;
    margin: 0 auto;
}
.file-replace-section .file.file--upload {
    position: relative;
    z-index: 2;
    opacity: 0;
}
.file-replace-section {
    position: relative;
    max-width: 100px;
    padding: 0 12px;
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.operation-grid-item .event-date-grid {
    padding: 0 30px;
}
.purchase-order-notes.grid-note-item .ant-card.order-detail-channel-card .ant-card-body{
	margin-bottom: 15px;
 }

.new-button-active{
	background: #2C91EE !important;
    border: 2px solid #2C91EE !important;
}

/* login page style */
.password-mail-reset{	
    font-family: "Helvetica Neue medium";
    font-style: normal;
    font-weight: bold;
    font-size: 16px !important;
    line-height: 20px;
}
.ant-form-horizontal.login-form.reset-form .ant-form-item{
   text-align: left;
}
.logo-overlay .reset-form input.reset-input, .logo-overlay .reset-form input.reset-input:focus, .logo-overlay .reset-form input.reset-input:hover {
   padding-left: 21px !important;
}
.change-password-validation{
   color: #f5222d;
   line-height: 30px;
}
.login-form.reset-form .psw-show-btn {
   top: auto;
   bottom: 3px;
}
.logo-overlay .login-form.reset-form .ant-input,.logo-overlay .login-form.reset-form .ant-input:hover,.logo-overlay .login-form.reset-form .ant-input:focus {
   padding-left: 21px !important;
}
.custom-card-item-grtd .change-pws-card-item .login-form-button{
    max-width: 478px !important;
}
.custom-card-item-grtd .change-pws-card-item .login-form-button{
    max-width: 479px !important;
}

.change-pws-card-item .login-form-button.active {
    background: #2C91EE;
    border: 2px solid #2C91EE;
    border-radius: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}
.change-pws-card-item .login-form-button{
    background: #D1D4E1;
    border: 2px solid #D1D4E1;
    border-radius: 15px;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
}
.change-pws-card-item .card-footer {
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
}
.logo-new-img.change-pws-sec {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px 5px rgb(0 0 0 / 5%);
    width: 250px;
    height: 250px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    margin-top: -125px;
}
.change-pws-card-item{
    width: 580px;
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    box-sizing: border-box;
    box-shadow: 0px 20px 30px 5px rgb(0 0 0 / 25%);
    border-radius: 15px;
    margin: 0 auto;
}
.change-pws-card-item .border-bottom.card-header {
    border: 0 !important;
    border-radius: 15px;
    text-align: center;
    padding: 0;
}
.change-pws-card-item h6 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #121223;
}
.change-pws-card-item .form-label-userprofile {
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #121223;
}
span.pws-field-label {
    font-style: normal;
    font-weight: bold;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #001F1D;
    margin: 0.5rem auto;
    display: block;
}
.change-pws-card-item .form-control,.logo-overlay .form-control {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 15px;
    height: 50px;
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #898989;
    max-width: 100%;
    padding-left: 50px;
}
.logo-overlay .form-control::placeholder{
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #556573;
}
.psw-show-field{
    max-width: 480px;
    position: relative;
    margin: 0 auto;
}
.logo-overlay{
    position: relative;
}
._loading_overlay_wrapper .logo-overlay .ant-input::placeholder{
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #556573;
}
::placeholder{
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #556573;
}
input::placeholder,.ant-select-selection-selected-value{
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 14px;
    color: #556573;
}
.logo-overlay .ant-input,._loading_overlay_wrapper .logo-overlay .ant-input:hover,.logo-overlay .ant-input:focus {
    background: #FFFFFF !important;
    border: 2px solid #BEBEBE !important;
    border-radius: 15px;
    max-width: 480px;
    height: 50px;
    padding-left: 50px !important;
    border-right-width: 2px !important;
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: #556573;
    margin: 0 auto;
}
.login-form-button,.login-form-button:focus,.login-form-button:active {
    background: #2C91EE !important;
    border: 2px solid #2C91EE !important;
    border-radius: 15px;
    max-width: 480px;
    height: 60px;
    font-style: normal;
    font-weight: bold;
    font-family: "Helvetica Neue Bold", sans-serif !important;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: none !important;
	outline: 0;
    box-shadow: none;
    margin: 0 auto;
}
.forgot-textstyle {
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #2C91EE;
	width: max-content !important;
	margin: 0 auto;
    margin-top: 30px;
}
.logo-overlay .ant-input-affix-wrapper{
    max-width: 480px;
}
.logo-overlay .ant-form-item{
    text-align: center;
}
.logo-overlay .card-footer {
    text-align: center;
}
.input-icon {
    position: absolute;
    z-index: 2;
    top: 10px;
    left: 12px;
}
.psw-show-field.form-group {
    margin-bottom: 30px;
}
.login-btn-footer {
    text-align: center;
}
.border-bottom.logo-new-img.card-header {
    background: #FFFFFF;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.05);
    max-width: 250px;
    max-height: 250px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;    
    margin-top: -125px;
    padding: 0;
    height: 100%;
    width: 100%;
}
.login-page-copyright {
    margin-top: auto;
}
.reset-txt-Qes {
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 14px;
    line-height: 17px;
    margin: 0 auto;
    color: #556573;
    margin-bottom: 0.8rem;
    max-width: 480px;
}
._loading_overlay_wrapper {
    background: #F2F2F4;
}
.logo-overlay.card {
    width: 580px;
    height: 480px;
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    box-sizing: border-box;
    box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
}
.logo-overlay.card .list-group-item {
    padding: 0;
    width: 480px;
    margin: 0 auto;
}
.custom-navbar-brand.navbar-brand {
    padding-top: 8px;
    padding-bottom: 15px;
}
.psw-show-btn {
    position: absolute;
    top: 2px;
    right: 2px;
	text-align: center;
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #BEBEBE !important;
    padding: 15px 0;
    height: 45px;
    width: 85px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    cursor: pointer;
	background-color: #fff;
}
.changes-psw-card-section {
    max-width: 580px;
    padding: 0;
    margin: 0 auto;
}
h4.reset-txt-Qes {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #000000;
    margin-bottom: 34px;
    font-family: "Helvetica Neue Bold", sans-serif;
}

.success-mail-section.reset-psw-section .logo-overlay.card {
    margin: 0 auto;
}
.success-mail-section.reset-psw-section .card-body {
    flex: unset;
    padding-top: 48px;
}
.check-mail-section h4 {
    font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 50px;
    color: #121223;
    text-align: center;
    margin-bottom: 2rem;
}
.check-mail-section p {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #000000;
    max-width: 80%;
    margin: 0 auto;
    font-family: "Helvetica Neue Bold", sans-serif;
}
.success-sign-btn {
    background: #2C91EE;
    border: 2px solid #2C91EE;
    border-radius: 15px;
    width: 480px;
    height: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
    padding: 15px;
}
.login-form.reset-psw-section .card-body {
    flex: unset;
}
.login-form.reset-form .form-control {
    padding-left: 18px;
}
.custom-step .ant-steps-item-content {
    padding-right: 20px;
}
.custom-step.ant-steps-navigation .ant-steps-item::after{
    left: auto;
    right: 0px;
    top: 3px;
    width: 8px;
    height: 8px;
    margin-top: 0;
    margin-left: 0;
}
.custom-step.ant-steps-navigation .ant-steps-item{margin: 0;}
.custom-step .ant-steps-item-content{padding-right: 10px;}
.custom-step.ant-steps-navigation .ant-steps-item.ant-steps-item-active .ant-steps-item-title {
    color: #2C91EE !important;
    font-weight: 700;
}
.custom-step.ant-steps-navigation .ant-steps-item .ant-steps-item-title {
    color: #556573 !important;
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 13px;
    line-height: normal;
}
.custom-step.ant-steps-navigation .ant-steps-item.ant-steps-item-active::before{
    display: none;
}
.change-psw--loadpage .change-pws-card-item.card {
    width: 100%;
}
.change-psw--loadpage .info-header-grid-item{
    grid-template-columns: auto;
}
.change-psw--loadpage .card-header {
    border-bottom: 1px solid #D1D4E1;
}
.change-pws-card-item.welcome-page-card.logo-overlay.card {
    height: auto;
}
.welcome-page-card.logo-overlay .logo-new-img.card-header {
    border-radius: 100% !important;
    width: 250px;
    height: 250px;
}
a.ant-btn.btn.btn-primary.custom-sync-btn.continue-btn.ant-btn-primary {
    padding: 15px 13px;
    box-shadow: none;
    margin: 0 auto;
    line-height: 30px;
}
.skip-step-btn.ant-btn-primary,.skip-step-btn.ant-btn-primary:focus,.skip-step-btn.ant-btn-primary:hover,.skip-step-btn.ant-btn-primary:active {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #0067A0;
    background: transparent;
    border: 0;
    box-shadow: none;
    margin-top: 20px;
    width: 100%;
}
.custom-card-item-grtd .card {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    box-sizing: border-box;
    box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 700px;
    height: auto;
	overflow: hidden;
}
.custom-card-item-grtd .change-pws-card-item .form-group-items{
    margin-bottom: 32px;
}
.custom-card-item-grtd .change-pws-card-item  .card-footer{
	border-radius: 0 !important;
	border-top: 1px solid #D1D4E1;
	padding: 32px 0px;
}
.custom-card-item-grtd .change-pws-card-item .card-body {
    width: 479px;
    margin: 0 auto;
    padding: 30px 0;
}
.ant-steps-navigation .ant-steps-item-container{
	margin: 0;
	padding-bottom: 0;
}
.change-pws-card-item .ant-steps-navigation{
	padding: 0;
}
.custom-card-item-grtd .pg-viewer-wrapper .document-container{
	width: 100%;
}
.welcome-content {
    text-align: center;
}
.info-header-item img {
    width: 50px;
    height: 43px;
    object-fit: cover;
}
.change-psw--loadpage .info-header-grid-item{
	padding-bottom: 25px;
}
.event--items.event-card-item-side {
    padding: 10px !important;
	border-radius: 15px;
}
.ant-select-selection__placeholder, .ant-select-search__field__placeholder{
	color:#556573;
}
.user--confirmation.add--user-item {
    display: flex;
    align-items: center;
    width: max-content;
    margin: 0 auto;
	padding-top: 2rem;
}
.user--confirmation.add--user-item .addnew-btn,.user--confirmation.add--user-item .addnew-btn:hover {
    width: 160px;
	margin: 0 10px;
}
.user--confirmation.add--user-item .addnew-btn.user-confirm {
    background: #BEBEBE;
    border: 1px solid #BEBEBE;
}
.continue-btn,.continue-btn:hover,
.continue-btn:active,.continue-btn:focus {
    background: #2C91EE !important;
    border: 2px solid #2C91EE !important;
    border-radius: 15px;
    width: 438px;
    height: 60px;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
	outline: 0;
	box-shadow: none;
}
.info-header-grid-item{
	grid-template-columns: auto !important;
}
h2.welcome-title {
	font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
    color: #121223;
    text-align: center;
    margin-bottom: 2rem;
}
h5.content-para {
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    color: #121223;
    margin-bottom: 3rem;
}
.change-pws-card-item.welcome-page-card.logo-overlay.card {
    height: auto;
}
.welcome-page-card.logo-overlay .logo-new-img.card-header {
    border-radius: 100% !important;
    width: 250px;
    height: 250px;
}
.skip-step-btn.ant-btn-primary,.skip-step-btn.ant-btn-primary:focus,.skip-step-btn.ant-btn-primary:hover,.skip-step-btn.ant-btn-primary:active {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #0067A0;
    background: transparent;
    border: 0;
    box-shadow: none;
    margin-top: 20px;
    width: 100%;
}
.bank-sync-later span{
	text-decoration-line: underline ;
}
.custom-card-item-grtd .card {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    box-sizing: border-box;
    box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 700px;
    height: auto;
	overflow: hidden;
}
.change-pws-card-item.card  .set-psw-title {
	font-family: 'Ubuntu', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: normal;
    text-align: center;
    color: #001F1D;
	margin-bottom: 30px;
}
.custom-card-item-grtd .change-pws-card-item  .card-footer{
	border-radius: 0 !important;
	border-top: 1px solid #D1D4E1;
	padding: 31px 0px 28px 0;
}
.custom-card-item-grtd .change-pws-card-item .card-body {
    width: 478px;
    margin: 0 auto;
    padding: 30px 0 40px 0;
}
.ant-steps-navigation .ant-steps-item-container{
	margin: 0;
	padding-bottom: 0;
}
.change-pws-card-item .ant-steps-navigation{
	padding-top: 0;
}
.custom-card-item-grtd .pg-viewer-wrapper .document-container{
	width: 100%;
}
.welcome-content {
    text-align: center;
}
.info-header-item img {
    width: 50px;
    height: 43px;
    object-fit: cover;
}
.change-psw--loadpage .info-header-grid-item,.user-info-card-item .info-header-grid-item{
	padding-bottom: 25px;
}
.user-info-card-item .ant-steps-navigation {
    padding-top: 0;
}
.change-psw--loadpage .change-pws-card-item.card .card-body .form-group-items {
    padding-bottom: 30px;
}
.change-psw--loadpage .change-pws-card-item.card span.pws-field-label{
	margin: 0 0 20px 0
}
.change-psw--loadpage.custom-card-item-grtd .card-header {
    padding: 20px 33px 25px 33px;
}
.change-psw--loadpage .change-pws-card-item.card .card-body .form-group-items.confirm-field-section{
	padding-bottom: 0;
}
.user-info-card-item .top-border-footer {
    padding: 15px 0 !important;
}
.custom-card-item-grtd.terms-condition-section .card-header {
    padding: 21px 38px 25px 38px !important;
}
.custom-card-item-grtd.terms-condition-section .border-bottom.card-header{
	padding:0;
}
.page-title-item{
	font-style: normal;
	font-weight: bold !important;
	font-size: 28px !important;
	line-height: 22px !important;
	color: #000000;
	margin-bottom: 2rem;
}
.page-subtitle-item{	
	font-style: normal;
	font-weight: bold !important;
	font-size: 20px !important;
	line-height: 22px !important;
	color: #000000;
	margin-bottom: 1.5rem;
}
.doc-page-para{
	font-style: normal;
	font-weight: normal !important;
	font-size: 16px !important;
	line-height: 22px !important;
	color: #000000;
	margin-bottom: 1.5rem;
}
li .doc-page-para{
	margin-bottom: 0.5rem;
}
.page-list{
	margin-bottom: 1.5rem;
}
.doc-subtitle-item{
	font-style: normal;
	font-weight: bold !important;
	font-size: 20px !important;
	line-height: 22px !important;
	color: #0067a0;
	margin-bottom: 1.5rem;
}
.doc-subtitle-item-black{
	font-style: normal;
	font-weight: bold !important;
	font-size: 20px !important;
	line-height: 22px !important;
	color: #000000;
	margin-bottom: 1.5rem;
}
.scrolling-bar-design{
	overflow: hidden;
	overflow-y: auto;
	padding: 4px 20px 0px 39px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-top: 20px;
	scroll-behavior: smooth;
	scrollbar-width: thin;
}
.doc-page-para a {	
	color: #0067a0;
	text-decoration: underline;
}
.download-btn.btn {
    padding: 0;
    background: transparent;
    border: 0;
    color: #0067a0;
	font-style: normal;
	font-weight: normal !important;
	font-size: 16px !important;
	line-height: 22px !important;
    font-family: "Helvetica Neue Regular", sans-serif;
}
.inner-listing-item li {
    list-style-type: disc;
}
.scrolling-bar-design::-webkit-scrollbar-track
{
	border-radius: 10px;
	background-color: #F2F2F4;
}

.scrolling-bar-design::-webkit-scrollbar
{
	width: 6px;
	background-color: #F2F2F4;
}

.scrolling-bar-design::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: #D1D4E1;
}
.change-psw--loadpage .change-pws-card-item.set-password-section.card .form-group-items {
    padding-bottom: 0;
}
.change-psw--loadpage.custom-card-item-grtd .form-control {
    padding-left: 18px;
}
.info-header-grid-item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
}
.user-info-card-item .card-header {
    padding: 1rem 0;
}
.breadcrumb-custom.ant-breadcrumb .ant-breadcrumb-link,.breadcrumb-custom .ant-breadcrumb-separator {
    font-style: normal;
    font-weight: bold;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 14px;
    line-height: 50px;
    color: #556573;
    margin: 0 2px;
}
.info-header-item {
    font-style: normal;
    font-weight: bold;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 28px;
    line-height: 50px;
    color: #121223;
    text-align:left;
}
.user-info-card-item {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    box-sizing: border-box;
    box-shadow: 0px 20px 30px 5px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    min-width: auto;
    min-height: auto;
    max-width: 700px;
    width: 100%;
}
.user-info-card-item .ant-card-body {
    padding: 10px !important;
}
.info-grid-items .css-yk16xz-control,.info-grid-items .css-1pahdxg-control {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 15px;
    height: 50px !important;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #556573;
	box-shadow: none;
}
.info-grid-items .css-1okebmr-indicatorSeparator{
    height: auto;
}
.info-grid-items {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.information-section .form-group {
    padding: 0 15px;
    margin-bottom: 18px;
}
.information-section .form-group .form-control {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 15px;
    height: 50px !important;
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 14px;
    line-height: 17px;
    color: #556573;
}
.information-section .form-group label {
    font-style: normal;
    font-weight: bold;
    font-family: "Helvetica Neue Medium", sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #001F1D;
    margin-bottom: 10px;
}
.information-section .form-group label span{
    color: #2C91EE;
}
.btn.btn-primary.information-cont-btn.active,.btn.btn-primary.information-cont-btn.active:hover {
    background: #2C91EE;
    border: 2px solid #2C91EE;
}
.btn.btn-primary.information-cont-btn,.btn.btn-primary.information-cont-btn:hover {
    background: #D1D4E1;
    border: 2px solid #D1D4E1;
    border-radius: 15px;
    height: 60px;
    width: 480px;
    font-style: normal;
    font-weight: bold;
    font-family: "Helvetica Neue Bold", sans-serif;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #FFFFFF;
}
.custom-card-item-grtd .border-bottom.card-header,.ant-card.user-info-card-item.ant-card-bordered .ant-card-body {
    padding: 0 !important;
}
.custom-card-item-grtd .information-section {
    padding: 23px 23px 21px 23px;
}
.user-info-card-item .card-header {
    padding: 20px 30px;
}
.top-border-footer {
    padding: 25px !important;
    border-top: 1px solid #D1D4E1;
}
.privacy-policy-section .common-doc-page.section {
    background: #FFFFFF;
    border: 2px solid #BEBEBE;
    border-radius: 15px;
    padding: 20px !important;
}
.primary-sidebar .stylefont-weight-bold{
    font-family: "SF-Pro-Rounded-Bold", sans-serif;
}
.primary-sidebar .stylefont-weight-semibold{
    font-family: "SF-Pro-Rounded-Semibold", sans-serif;
}
.primary-sidebar .stylefont-weight-medium,.primary-sidebar .stylefont-weight-medium h6{
    font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.primary-sidebar .stylefont-weight-regular{
    font-family: "SF-Pro-Rounded-Regular", sans-serif;
}

.stylefont-weight-bold,.stylefont-weight-bold h6{
    font-family: "Helvetica Neue Bold", sans-serif;
}
.stylefont-weight-medium,.stylefont-weight-medium h6{
    font-family: "Helvetica Neue Medium", sans-serif;
}
.stylefont-weight-regular{
    font-family: "Helvetica Neue Regular", sans-serif;
}
.info-grid-items .css-26l3qy-menu,.css-26l3qy-menu {
    margin: 0 !important;
    overflow: hidden !important;
    border-radius: 0 0 10px 10px;
    border: 2px solid #BEBEBE !important;
    margin-top: -2px !important;
}
.info-grid-items .css-26l3qy-menu > div,.css-26l3qy-menu > div{
    padding: 0;
	max-height: 220px;
}
.info-grid-items .css-26l3qy-menu > div > div, .css-26l3qy-menu > div > div{
    border-bottom: 1px solid #BEBEBE;
    height: 46px;
    line-height: 30px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    color: #000000;
    font-family: "Helvetica Neue Medium", sans-serif;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.info-grid-items .css-9gakcf-option{
    background: hsla(209, 85%, 55%, 0.2);
}
.form-group.select-state-onboarding .css-26l3qy-menu {
    position: relative;
}
.bank-sync-later {
    background: transparent;
    border: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration-line: underline;
    color: #0067A0;
    width: max-content;
    margin-top: 30px !important;
    margin: 0 auto;
	outline: 0 !important;
	box-shadow: none !important;
}
.change-pws-card-item.set-password-section.card .card-header {
    padding: 20px 30px;
}
@media only screen and (max-width:1536px){    
    .login-page-copyright {
        margin-top: auto;
        padding-top: 150px;
    }
}
