
.ant-card-body .form-control,
.ant-card-body select.form-control {
  height: 45px !important;
  border-radius: 25px;
  font-size: 16px;
  font-weight: 400;
  max-width: 300px;
  background-color: #fff;
  border: 1px solid #e1e5eb;
  padding-left: 40px;
}
.event-divide--grid--section {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 0 25px;
}
.ant-card .edit-event-section .event-sec-status-search.form-group {
    margin-bottom: 20px;
}