/* you have to import first: https://drafts.csswg.org/css-cascade-3/#at-import */
@import url("./baseStyle.css");

.ag-cell-focus,
.ag-cell {
  border: none !important;
}

.middle-align {
  display: flex;
  align-items: center;
}
.primary-color {
  color: var(--palette-text);
}
/* Override all the "primary" stuff because
 * this is easier than installing LESS,
 * and everything is still in one spot. */
button.btn-primary,
button.btn-primary:not(.disabled),
button.ant-btn-primary {
  background-color: var(--palette-primary);
  border-color: var(--palette-primary);
}
button.btn:active,
button.ant-btn-primary:active,
button.btn-primary:hover,
button.ant-btn:active:hover {
  background-color: var(--palette-primary);
  border-color: var(--palette-primary);
}
button.ant-btn:hover,
button.btn:hover {
  background-color: var(--palette-primary-light);
  border-color: var(--palette-primary-light);
  color: white;
}
button.btn-primary-outline,
button.btn-primary-outline:not(.disabled) {
  color: var(--palette-primary);
  border-color: var(--palette-primary);
}
button.btn-primary-outline:hover,
button.btn-primary-outline:active {
  color: var(--palette-primary-light);
  border-color: var(--palette-primary-light);
}
.ant-select-auto-complete.ant-select input.ant-input:focus,
.ant-select-auto-complete.ant-select input.ant-input:hover {
  border-color: var(--palette-primary-light);
}
.custom-control-input:checked ~ label.custom-control-label::before {
  background-color: var(--palette-primary);
}

/* Override the side-nav stuff */
.main-sidebar .nav-wrapper .nav .nav-item .nav-link.active,
.main-sidebar .nav-wrapper .nav .nav-item .nav-link:hover,
.main-sidebar .nav-wrapper .nav .nav-item.active,
.main-sidebar
  .nav-wrapper
  .nav
  .nav-item:hover
  .main-sidebar
  .nav-wrapper
  .nav
  .nav-item
  .nav-link.active
  i,
.main-sidebar .nav-wrapper .nav .nav-item .nav-link:hover i,
.main-sidebar .nav-wrapper .nav .nav-item.active i,
.main-sidebar .nav-wrapper .nav .nav-item:hover i,
.main-sidebar .nav-wrapper .nav .nav-item .nav-link.active i,
.main-sidebar .nav-wrapper .nav .nav-item .nav-link:hover i,
.main-sidebar .nav-wrapper .nav .nav-item.active i,
.main-sidebar .nav-wrapper .nav .nav-item:hover i {
  color: var(--palette-primary);
}
.main-sidebar .nav-wrapper .nav .nav-item .nav-link.active,
.main-sidebar .nav-wrapper .nav .nav-item .nav-link:hover,
.main-sidebar .nav-wrapper .nav .nav-item.active,
.main-sidebar .nav-wrapper .nav .nav-item:hover {
  box-shadow: inset 0.1875rem 0 0 var(--palette-primary);
}

/* get rid of the grey outlines for Shards lists */
.list-group-item {
  border: none !important;
}

/* make the top navigation bar fade out with rest of site during modals out */
.main-navbar .sticky-top {
  z-index: 999;
}

/* control the width of main sidebar */
/* @media all and (min-width: 1440px) {
  .main-sidebar.col-lg-2 {
    min-width: 230px;
  }
} */

/* reduce the space of error message buffer on forms */
form[name="createPurchaseOrder"] .ant-form-item-with-help,
form[name="createListing"] .ant-form-item-with-help {
  margin-bottom: 0 !important;
}
form[name="createPurchaseOrder"] .ant-form-item,
form[name="createListing"] .ant-form-item {
  margin-bottom: 12px !important;
}
form[name="listingDetails"] .ant-form-item {
  margin-bottom: 5px !important;
}

/* Make the carousel so not goddamn huge */
.carousel-root {
  max-width: 200px !important;
  margin: 0 auto;
}

/* Make the image upload dropzone the size of a card */
.DropzoneArea-dropZone-2,
.jss2 {
  min-height: 280px !important;
  width: 200px !important;
}

/* Make the image upload dropzone previews legible */
.MuiGrid-spacing-xs-8 {
  width: 100% !important;
  margin: 0 !important;
}

.MuiGrid-spacing-xs-8 > .MuiGrid-item {
  padding: 0 !important;
}

.ag-root-wrapper-body.ag-layout-normal {
  /* border: 1px solid red; */
  border-radius: 10px;
  padding: 5px;
  background-color: #fff;
}
.ag-row-odd {
  background-color: #fafafc;
}
.ag-header {
  border-radius: 5px;
}
.ag-root {
  border-radius: 5px;
}

/* new added style --- */
/* removing border and adding icons in inputs - date and po number search */
.date-picker-icon {
  float: right;
  margin-right: 6px;
  margin-top: -30px;
  position: relative;
  z-index: 2;
  font-size: 10px;
}
.input-group-text {
  font-size: 1.1em;
  line-height: 1.5;
  color: #abb6bf;
  border-radius: 0.25rem;
}

.my-page-title {
  font-weight: 700;
  font-size: 1.7rem;
  color: #5a5d6e;
}
.ant-input-group-addon {
  background-color: #fff;
  font-size: 0.9rem;
  /* border: none; */
  border-radius: 10px;
}
.ant-input {
  border-radius: 10px;
}

.ant-input-affix-wrapper .ant-input:not(:last-child) {
  padding-right: 30px;
  border: none;
}
.ant-input:after {
  content: "";
  width: 0;
  height: 100%;
  position: absolute;
  border: 1px solid black;
  top: 0;
  left: 100px;
}
.ant-input-group-addon {
  background-color: #fff;
  font-size: 0.9rem;
  border: none;
  font-weight: 400;
  color: #5a5d6e;
}

.ant-input-group-addon:first-child {
  border-right: 1px solid #f5f6f8;
}

/* updating the grid design */
.ag-theme-balham .ag-header {
  background-color: #f5f7f7;
  color: #aab6c2 !important;
  font-weight: 600;
  font-size: 14px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  border-bottom: none !important;
}
.ag-root-wrapper.ag-layout-normal {
  height: 100%;
}
.main-content > .main-content-container.container-fluid {
  min-height: calc(100vh - 1.5rem) !important;
}
.ag-theme-balham .ag-root {
  border: none !important;
}
.ag-theme-balham .ag-row {
  border: none !important;
  color: #5a5d6e;
  font-size: 15px;
  font-weight: 500;
}

.ag-row .ag-cell {
  display: flex;

  align-items: center;
}
.ag-theme-balham .ag-row.ag-row-last {
  border-bottom: none;
}
.ag-theme-balham .ag-row:not(.ag-row-first) {
  border-width: none;
}
.ag-theme-balham .ag-ltr .ag-header-cell::after,
.ag-theme-balham .ag-ltr .ag-header-group-cell::after {
  right: 0;
  top: 20%;
  height: 18px;
}
.pagination-style {
  display: flex;
  margin-top: 60px;
  font-weight: 400;
  justify-content: space-between;
}
.bold-text {
  font-weight: 600;
}

/* style for pagination */
.ant-pagination-item-active {
  font-weight: 500;
  background: #fff;
  background-color: #5f8ff0;
  border-color: #5f8ff0;
  color: #fff;
  border-radius: 10px;
}
/* updating the navbar style */
.main-content .header-navbar,
.main-content > .main-navbar {
  box-shadow: none !important;
  float: right;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}
.relative-top {
  position: relative;
  top: 0;
  z-index: 1; /* this ensures the user can always click the dropdown menu and nav bell, but won't place it above the modals */
}
.main-sidebar .nav-wrapper .nav .nav-item .nav-link.active,
.main-sidebar .nav-wrapper .nav .nav-item .nav-link:hover,
.main-sidebar .nav-wrapper .nav .nav-item.active,
.main-sidebar .nav-wrapper .nav .nav-item:hover {
  background-color: var(--palette-primary);
  border-radius: 20px;
}
.main-sidebar .nav-wrapper .nav .nav-item .nav-link.active,
.main-sidebar .nav-wrapper .nav .nav-item .nav-link:hover,
.main-sidebar .nav-wrapper .nav .nav-item.active,
.main-sidebar
  .nav-wrapper
  .nav
  .nav-item:hover
  .main-sidebar
  .nav-wrapper
  .nav
  .nav-item
  .nav-link.active
  i,
.main-sidebar .nav-wrapper .nav .nav-item .nav-link:hover i,
.main-sidebar .nav-wrapper .nav .nav-item.active i,
.main-sidebar .nav-wrapper .nav .nav-item:hover i,
.main-sidebar .nav-wrapper .nav .nav-item .nav-link.active i,
.main-sidebar .nav-wrapper .nav .nav-item .nav-link:hover i,
.main-sidebar .nav-wrapper .nav .nav-item.active i,
.main-sidebar .nav-wrapper .nav .nav-item:hover i {
  color: #fff;
  border-radius: 20px;
}

.main-sidebar .nav .nav-item,
.main-sidebar .nav .nav-link {
  white-space: nowrap;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif;
  will-change: background-color, box-shadow, color;
  transition: box-shadow 0.2s ease, color 0.2s ease, background-color 0.2s ease;
  font-size: 0.85rem;
  border-radius: 20px;
  margin: 0.5px;
}
.ant-time-picker-input {
  border-radius: 10px !important;
}
.nav {
  /* padding: 10px !important; */
  padding: 0 20px 0 10px !important;
}
.nav .nav-item .nav-link {
  border-bottom: 1px solid #e1e5eb;
  font-weight: 400;
  padding: 0.9375rem 0.1625rem 0.9375 0.2625;
}

.navbar-light .navbar-nav .nav-link {
  color: #5a5d6e !important;
  font-weight: 600;
  font-size: 16px;
}

.reset-password {
  color: #5f8ff0;
  font-weight: 400;
  text-decoration: underline;
}
.color-transparent {
  background-color: transparent;
}

/* desiging the hobby page */
#hobby-heading {
  padding-bottom: 0 !important;
}

div[class*="ant-card-body"] {
  padding-top: 12px !important;
}

#hobby-grid {
  padding-top: 0 !important;
}

#hobby-search {
  margin-bottom: 0.5rem !important;
}

.hobby-card {
  width: 350px;
  padding: 20px;
  margin: 10px;
  cursor: pointer;
}

.hobby-image {
  text-align: center;
  justify-content: center;
}

.hobby-icons {
  justify-content: flex-end;
  padding-right: 50px;
  padding-top: 5px;
}

.hobby-data {
  font-family: montserrat;
  font-weight: bold;
  font-size: medium;
}

.hobby-row-data {
  padding: 5px;
}

.hobby-row-price {
  margin-left: 150px;
  font-size: larger;
}

.no-data {
  text-align: center;
  justify-content: center;
  padding-top: 50px;
  margin: auto;
  font-size: x-large;
}

.hobby-modal {
  position: sticky;
  transform: translate(45%, -220%) !important;
}

.hobby-carousel {
  max-width: 350px !important;
}
/* desiging the insights page */
/* overall page design */
.dashboard-row {
  display: block !important;
}
.insights-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding: 0;
  align-items: start;
  /* border: 1px solid black; */
}

/* portfolio  */
.portfolio-card {
  background-color: #fff;
}
.portfolio-card--body {
  /* border: 1px solid green; */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-gap: 5px;
}
.portfolio-card--body-item {
  white-space: nowrap;
  padding: 5px;
  border-right: 1px solid #ececec;
  text-decoration: none;
}

.portfolio-card--body div:last-child {
  border: none;
}
.card-heading {
  font-weight: 700;
  font-size: 1.05rem;
  color: #5a5d6e;
}

/* revenue, sales, listings, inventory details and top cards */
.small-card-head {
  display: flex;
  justify-content: space-between;
}
.small-card-head--btns {
  text-align: right;
  padding: 3px;
}
.small-card-body--value {
  font-weight: 700;
  font-size: 25px;
  color: #5a5d6e;
  padding: 0 0 0 10px;
}

/* inventory delivery */
.delivery-card-item {
  display: grid;
  grid-template-columns: 45px 4fr;
  grid-gap: 5px;
  padding: 10px;
  margin: 0 0 20px;
}
.delivery-number {
  background-color: green;
  padding: 10px;
  border-radius: 100%;
  text-align: center;
  color: #fff;
  font-size: 16px;
}
/* top performers card */
.top-performer-list--item {
  /* border: 1px solid red; */
  display: grid;
  grid-template-columns: 15px 1fr;
  padding: 16px 15px;
  color: #5a5d6e;
  font-size: 15px;
  border-radius: 10px;
}
.top-performer-list {
  background-color: #fff;
}
.top-performer-list--item-body {
  display: flex;
  justify-content: space-between;
  background-color: transparent;
}

/* pie chart styles */
.graph-text-body {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  flex-wrap: wrap;
}
.piechart-text-body--t {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 50px;
}
.graph-text-body--t-percentage {
  color: #5a5d6e;
  font-weight: 700;
  font-size: 14px;
}
.graph-text-body--t-label {
  color: #acafc6;
  font-weight: 500;
}
/* submit support form  style*/
.input-form {
  display: grid;
  padding: 15px 10px;
}
.input-form-label {
  color: #5a5d6e;
  font-size: 14px;
  font-weight: 600;
}

.upload-description {
  font-weight: normal !important;
}

/* my cards popup */
.listing-popup-labels {
  color: #5a5d6e;
  margin: 0;
  padding-bottom: 10px;
}

/* remittance grid */
.remittance-grid-top {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
}
.remittance-grid-top-body:nth-child(1) {
  border: none;
}
.remittance-grid-top-body {
  padding: 15px;
  border-left: 2px solid #ececec;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.remittance-grid-top-title {
  font-size: 18px;
  color: #aab6c2;
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.remittance-grid-top-value {
  font-size: 25px;
  color: #5a5d6e;
  font-weight: 700;
  padding: 0;
  margin: 0;
}

/* purchse order popup form */
.purchase-order-card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.purchase-order-form-label {
  display: inline-block;
  padding: 0;
  margin-bottom: 5px;
  color: #5a5d6e;
  margin: 0;
  line-height: 20px;
}

.ant-form-vertical .ant-form-item {
  padding-bottom: 0px;
}
.purchase-order-form-headings {
  font-size: 22px;
  color: #acafc6;
  font-weight: 400;
}
.ant-select-auto-complete.ant-select .ant-input {
  border-radius: 10px;
}
.ant-select-selection--single {
  border-radius: 10px;
}
.anticon svg {
  display: inline-block;
  color: #1890ff;
}
.ant-modal-title {
  margin: 5px 0 5px 0;
  color: #5a5d6e;
  font-weight: 700;
  font-size: 25px;
}
.ant-modal-wrap {
  overflow-x: hidden;
}
.ant-modal-body {
  /* padding-top: 0; */
}
.modal-floating-cancel-button {
  position: sticky;
  transform: translate(45%, -300%);
}
.modalWithHead-floating-cancel-button {
  position: sticky;
  transform: translate(45%, -370%);
}

/* user profile styles */
.card-heading-userprofile {
  color: #5a5d6e;
  font-size: 25px;
  font-weight: 700;
}
.container-userprofile {
  padding: 15px;
}

.small-container-userprofile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  padding: 10px;
  /* border: 1px solid red; */
}

.user-account-card-userprofile {
  margin: 10px;
}
.change-password-card-userprofile {
  margin: 10px;
}
.form-label-userprofile {
  color: #5a5d6e;
  font-weight: 600;
}
.popup-body {
  margin-top: -50px;
}

.account-sync-button-row {
  padding: 5px 0 10px 0;
  border-bottom: 1px solid #efefef;
  margin-bottom: 10px;
}

.account-sync-label {
  color: #5a5d6e;
  font-size: 20px;
}
.input-row {
  justify-content: right !important;
}
.channel-markup-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ant-switch-inner {
  font-size: 12px;
}
.ant-switch-checked .ant-switch-inner {
  margin-right: 30px;
}
/* card info */
.cardinfo-popup-card-heading {
  text-align: center;
  color: #5a5d6e;
  font-weight: 400;
  font-size: 22px;
  /* margin-top: 30px; */
}
.cardinfo-popup-card-sub {
  font-size: 20px;
  color: #aab6c2;
  font-weight: 400;
  text-align: center;
}
.cardinfo-popup-card-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.cardinfo-form-label {
  color: #5a5d6e;
  font-size: 18px;
  font-weight: 500;
}
.cardinfo-form-body {
  display: grid;
  grid-template-columns: 1fr 100px 1fr;
  justify-content: center;
  align-items: self-end;
  grid-gap: 10px;
  border: 1px solid red;
}
.cardinfo-buttons-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 10px;
  margin-right: 30%;
}
/* using important to overwrite the built style of carousel dropzone */

/* .carousel-root {
  max-width: 230px !important;
} */
.ant-input-group {
  line-height: 1.4 !important;
}
/* add card popups */
.listing-submission-form-body {
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
.listing-submission-form-body--1 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 30px;
  margin-top: 10px;
}
.listing-submission-form-body--2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.reports-schedule {
  margin-top: 5px;
  border: 2px solid #1890ff;
  border-radius: 10px;
  height: 350px;
  width: 100%;
}
/* orderr-details */
.orderDetails-popup-card-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: start;
}
.purchaseOrder-popup-card-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}
.orderDetails-label {
  color: #a9a9a9;
  font-size: 18px;
  font-weight: 400;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}
.orderDetails-delivered {
  background-color: #8cc051;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
}
.orderDetails-inprocess {
  background-color: #ff3333;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 5px 10px;
}
/* schedule reports */
.schedule-reports-heading {
  display: block;
  margin-bottom: 5px;
  color: #5a5d6e;
  font-weight: 500;
  font-size: 16px;
}
.ant-form-item-control {
  line-height: 30px;
}
.schedule-reports-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}

.listing-search {
  width: 750px;
}

.break-search {
  width: 750px;
}

.create-break-button {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.breaks-icon {
  margin-right: 10px;
}
.purchase-search {
  width: 600px;
}
@media screen and (max-width: 768px) {
  .listing-search,
  .break-search,
  .purchase-search {
    width: 100%;
  }
}

.perfomance-search-row {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.cardinfo-form-body-description {
  display: flex;
  flex-direction: row;
}

/*  slider styles*/
.ant-slider-track {
  height: 8px;
  padding: 2px;
  background-color: #f59696;
}
.ant-slider-step {
  height: 8px;
}
.ant-slider-handle {
  height: 15px;
  border: solid 2px #f59696;
}
.ant-slider-rail {
  height: 8px;
}
.ant-slider-dot {
  width: 10px;
  height: 10px;
}
.ant-slider-dot-active {
  border-color: #f59696;
}
.ant-slider:hover .ant-slider-track {
  background-color: #f59696;
}
.ant-slider-handle:focus {
  border: solid 2px #f59696;
}

.ant-slider:hover .ant-slider-handle:not(.ant-tooltop-open) {
  border-color: #f59696;
}

.main-sidebar .nav .nav-item.marketplace-navbar-item {
  position: relative;
  overflow: visible;
  margin-bottom: 10px;
  /* padding-bottom: 10px; */
}
.marketplace-navbar-item:after {
  border: 1px solid #2e333d;
  content: " ";
  display: block;
  background: #2e333d;
  height: 1px;
  width: 100%;
  position: absolute;
  bottom: -8px;
}
/* ebay setting card */
.ebay-setting-column {
  align-items: flex-end;
  display: grid;
  grid-template-columns: 20% 70%;
  grid-gap: 10px;
  place-items: baseline;
}
.account-create {
  color: #5f8ff0;
}
.account-create:hover {
  text-decoration: underline;
}
.listing-shipping-column {
  align-items: flex-start;
  display: grid;
  grid-template-columns: 30% 60%;
  margin-bottom: 8px;
  /* place-items: baseline; */
}

.payment-policy {
  display: grid;
  grid-template-columns: 2fr 1fr;
  width: 350px;
  margin-left: 50px;
}
​.my-cards-heading {
  border: 1px solid red !important;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* uploader button styling */
.MuiButton-textPrimary {
  color: #699fe3 !important;
  padding: 5px 5px !important;
}
.MuiButton-root {
  border: 1px solid #699fe3 !important;
  color: #ffff !important;
  background-color: #699fe3 !important;
}
.MuiButton-root:hover {
  color: #699fe3 !important;
  background-color: #ffff !important;
}

.document-container {
  padding-top: 0px !important;
}

:root .marketplace-admin {
  --palette-primary: #f52855;
  --palette-primary-light: #f16f8b;
  --palette-primary-lighter: #ed90a4;
  --palette-secondary: #00c8c8;
  --palette-secondary-light: #53c4c4;
  --palette-dark: #2c2e56;
  --palette-black: #1b1d22;
  --palette-text: #434449;
  --palette-white: #fcfcfc;
  --palette-off-white: #f6f7fb;
}
:root .marketplace-admin .anticon svg {
  color: #f52855;
}
:root
  .marketplace-admin
  .custom-radio
  .custom-control-input:checked
  ~ .custom-control-label::before {
  background-color: #f52855;
} */
.pb-4,
.py-4 {
  padding-bottom: 1rem !important;
}
