.primary-sidebar .nav-wrapper .nav .nav-item .nav-link,.primary-sidebar .ag-theme-balham.ag-grid-header .ag-row,.primary-sidebar .ag-theme-balham.common-ag-grid-table .ag-row,.primary-sidebar .ag-theme-alpine.ag-custom-balham .ag-row,.primary-sidebar .ag-theme-balham .ag-row{
    font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.ag-theme-alpine .ag-header-cell-resize::after{
    display: none;
}
body.primary-sidebar{    
    font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.primary-sidebar .nav-wrapper .nav .nav-item .nav-link.active,.primary-sidebar .seat-section-details td{
    font-family: "SF-Pro-Rounded-Semibold", sans-serif;
}
.primary-sidebar .ag-theme-balham .ag-header{
    font-family: "SF-Pro-Rounded-Bold", sans-serif;
}
.primary-sidebar p,.primary-sidebar .ag-theme-balham{
    font-family: "SF-Pro-Rounded-Regular", sans-serif;
}
.primary-sidebar .notification-txt{
    font-family: "SF-Pro-Rounded-Semibold", sans-serif;
}
.primary-sidebar .ag-theme-balham .ag-header {
    background: #10536E !important;
}
.primary-sidebar .btn.delivery-detail-btn,.primary-sidebar .btn.delivery-detail-btn:hover,.primary-sidebar .btn.delivery-detail-btn:focus{
    background: #08C45D;
    font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.primary-sidebar .main-sidebar .nav-wrapper .nav .custom-nav-bar.nav-item .nav-link.active,.primary-sidebar .main-sidebar .nav-wrapper .nav .custom-nav-bar.nav-item .nav-link:hover {
    background-color: #10536E !important;
}
.primary-sidebar .main-sidebar .nav .nav-item{
    margin-bottom: 0.1rem !important; 
}
.main-sidebar .nav .nav-item{
    position: relative;
    overflow: visible;
}
.primary-sidebar .marketplace-navbar-item::after{
    margin: 0.5rem 0;
    border: 1px solid #E6E7E8;
}
.primary-sidebar.main-sidebar .nav .nav-item.marketplace-navbar-item{
    margin-bottom: 10px;
}
.btn.collapseToggleMenu:hover .fa-chevron-right,.toggle-menu.toggle-item-btn:hover .btn.collapseToggleMenu .fas.fa-chevron-right,.main-sidebar .nav-wrapper .nav .nav-item:hover i {
    color: #2C91EE !important;
}
.toggle-menu.toggle-item-btn .fa-chevron-right{
    font-size: 13px;
}
.primary-sidebar .report-custom-field .css-yk16xz-control,.primary-sidebar  .report-custom-field .css-1pahdxg-control,.primary-sidebar  .report-custom-field .css-yk16xz-control:hover,.primary-sidebar  .report-custom-field .css-1pahdxg-control:hover,.primary-sidebar .report-custom-field .ant-input,.primary-sidebar .report-custom-field .ant-time-picker-input,.primary-sidebar .report-custom-field .ant-input:hover,.primary-sidebar .report-custom-field .ant-time-picker-input:hover{
    font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.primary-sidebar .date-picker-purchase input.ant-calendar-range-picker-input,.primary-sidebar .ant-calendar-picker-container,.primary-sidebar .ant-time-picker-panel,.down-schedule-report .form-label-userprofile{
    font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.primary-sidebar .gross-revenue-title,.primary-sidebar  .net-revenue-title,.primary-sidebar  .upcoming-payment-title{
    font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.primary-sidebar .main-navbar .navbar .navbar-nav .dropdown-item,.primary-sidebar .ant-card.event-card-item-side .ant-tabs-tab,.primary-sidebar .ant-modal-title{
    font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.primary-sidebar label,.primary-sidebar .event-sec-status-search .ant-input,.primary-sidebar .event-sec-status-search .ant-input::placeholder,.primary-sidebar .css-yk16xz-control,.primary-sidebar .css-1pahdxg-control,.primary-sidebar .user-account-card-userprofile .form-control,.primary-sidebar .ant-btn.update-report-btn.ant-btn-primary,.primary-sidebar .popup-body .form-label-userprofile{
    font-family: "SF-Pro-Rounded-Medium", sans-serif !important;
}
.primary-sidebar .ant-modal.contact-support .purchase-order-form-label{
    font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.primary-sidebar .ant-btn{
    font-family: "SF-Pro-Rounded-Medium", sans-serif !important;
}
.primary-sidebar .addList-btn,.primary-sidebar .uploadTic-btn {
    background: #23AAE1;
    border-color: #23AAE1;
}
.primary-sidebar .btn.substitute-ticket-btn{
    background: #23AAE1;
    border-color: #23AAE1;
}
.primary-sidebar .btn.order-cancel-btn{
    background: #E6E7E8;
    border-color: #E6E7E8;
    color: #141414 !important;
}
.primary-sidebar .btn.post-event-btn{
    background: #08C45D;
    border-color: #08C45D;
}
.primary-sidebar .btn.cancel-event-btn,.primary-sidebar .contact-support-btn.primary-bg-color{
    background: #10536E;
    border-color: #10536E;
}
.primary-sidebar .cyan-green-txt{
    color: #08C45D !important;
}
.primary-sidebar .event-status-btn{
    background: #08C45D;
}
.primary-sidebar .stylefont-weight-bold{
    font-family: "SF-Pro-Rounded-Bold", sans-serif;
}
.primary-sidebar .stylefont-weight-semibold{
    font-family: "SF-Pro-Rounded-Semibold", sans-serif;
}
.primary-sidebar .stylefont-weight-medium,.primary-sidebar .stylefont-weight-medium h6{
    font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.primary-sidebar .stylefont-weight-regular{
    font-family: "SF-Pro-Rounded-Regular", sans-serif;
}

.stylefont-weight-bold,.stylefont-weight-bold h6{
    font-family: "Helvetica Neue Bold", sans-serif;
}
.stylefont-weight-medium,.stylefont-weight-medium h6{
    font-family: "Helvetica Neue Medium", sans-serif;
}
.stylefont-weight-regular{
    font-family: "Helvetica Neue Regular", sans-serif;
}

.primary-color{
    color: #2C91EE;
}
.secondary-color{
    color: #042F61;
}
.gray-color{
    color: #122123;
}
.bule-green--color{
    color: #10536E;
}
.btn-disable-bg,.btn-disable-bg:hover,.btn-disable-bg:active,.btn-disable-bg:focus{
    background-color: #BEBEBE;
    border-color: #BEBEBE;
}
.btn-active-event-bg{
    background: #00A399;
    border-color:#00A399;
}
.primary-sidebar .primary-color{
    color: #23AAE1;
}
.primary-sidebar .secondary-color{
    color: #10536E;
}
.primary-sidebar .gray-color{
    color: #122123;
}

.primary-sidebar .primary-border-color{
    border: 2px solid #23AAE1;
}
.primary-border-color{
    border: 2px solid #2C91EE;
}

.primary-bg-color,.primary-bg-color:hover,.primary-bg-color:focus,.contact-support-btn.primary-bg-color,.ant-btn.channel-submit-btn.primary-bg-color{
    background-color: #2C91EE;
    border: 2px solid #2C91EE;
}
.secondary-bg-color,.secondary-bg-color:hover,.secondary-bg-color:focus,.ant-btn.custom-sync-btn.secondary-bg-color{
    background-color: #042F61;
    border-color: #042F61;
}
.light-gray-bg-color{
    background-color: #BEBEBE;
}

.primary-sidebar .primary-bg-color,.primary-sidebar .primary-bg-color:hover,.primary-sidebar .primary-bg-color:focus,.primary-sidebar .ant-btn.channel-submit-btn.primary-bg-color{
    background-color: #23AAE1;
    border: 2px solid #23AAE1;
}
.primary-sidebar .secondary-bg-color,.primary-sidebar .secondary-bg-color:hover,.primary-sidebar .secondary-bg-color:focus,.primary-sidebar .ant-btn.custom-sync-btn.secondary-bg-color{
    background-color: #10536E;
    border-color: #10536E;
}

.secondary-font-family,.secondary-font-family h1{
    font-family: 'Ubuntu', sans-serif;
}
.primary-sidebar .secondary-font-family,.primary-sidebar .secondary-font-family h1{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}

.primary-bg-color.filter-submit-btn.active,.primary-bg-color.filter-submit-btn.active:hover{
    background-color: #2C91EE;
    border-color: #2C91EE;
}
.primary-sidebar .primary-bg-color.filter-submit-btn.active,.primary-sidebar .primary-bg-color.filter-submit-btn.active:hover{
    background-color: #23AAE1;
    border-color: #23AAE1;
}
.primary-sidebar .form-check input:checked + label::before{
    background-color: #23AAE1;
    border:2px solid #BEBEBE;
}
.primary-sidebar .ag-theme-alpine.ag-custom-balham .ag-header{
    background-color: #10536E;
}
.primary-sidebar .primary-border-color svg {
    fill: #23aae1;
}
.price-add-btn.inactive.primary-border-color svg{
    fill: #BEBEBE;
}
.price-add-btn.inactive.primary-border-color{
    border: 2px solid #BEBEBE;
}
.btn.add-newuser-btn.primary-bg-color{
    background-color: #2C91EE !important;
    border: 2px solid #2C91EE !important;
}
.primary-sidebar .btn.add-newuser-btn.primary-bg-color{
    background-color: #23AAE1 !important;
    border-color: #23AAE1 !important;
}
.primary-sidebar .seat_information-item.table-responsive-sec thead th{
    background-color: #23AAE1;
    font-family: "SF-Pro-Rounded-Medium", sans-serif;
}
.primary-sidebar .seat_information-item.table-responsive-sec td{
    font-family: "SF-Pro-Rounded-Regular", sans-serif;
}
.primary-sidebar .awaitDelivery{
    background: #08C45D;
}
.primary-sidebar .sevenDays{
    background: #10536E;
}
.primary-sidebar .availableBtn{
    background: #23AAE1;
}
.primary-sidebar .ticketSold{
    background: #00A399;
}
.primary-sidebar .daysEvent{
    background: #FF5D5D;
}
.popup-body .createPurchase-order-card .ant-card-body {
    padding: 20px 30px !important;
}

/* responsive */

@media only screen and (min-width:1450px){    
.purchase-details-grid-3 {
        grid-template-columns: 35% 40% auto;
    }
    .grid-note-item{
        grid-template-columns: 35% 3fr;
    }
}

@media only screen and (max-width:1400px){
    .find-listing.form-day-week .day-checkbox-sec {
        grid-gap: 0px;
    }
    .form-group-rgtr .find--filter.fliter-bottom.listing-filter-item{
        padding: 45px 30px;
    }    
    .purchase-order-gridgap .date-range--picker {
        margin-left: auto;
    }
    .fliter-bottom.listing-filter-item .col-lg-7 {
        padding-right: 0;
    }
    .fliter-bottom.listing-filter-item .col-lg-5{
        padding-left: 0;
    }
    .fliter-bottom.listing-filter-item{
        padding: 45px 25px;
    }
}