@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;1,400&display=swap');

@font-face {
    font-family: "Helvetica Neue Regular";
    src: local("Helvetica Neue Regular"), url('./assets/fonts/helvetica/Helvetica-Neue-Regular.ttf');
    font-weight: 400;
    font-display: swap;
} 
@font-face {
  font-family: "Helvetica Neue Medium";
  src: local("Helvetica Neue Medium"), url('./assets/fonts/helvetica/Helvetica-Neue-Medium.ttf');
  font-weight: 500;
  font-display: swap;
} 
@font-face {
  font-family: "Helvetica Neue Bold";
  src: local("Helvetica Neue Bold"), url('./assets/fonts/helvetica/Helvetica-Neue-Bold.ttf');
  font-weight: 600;
  font-display: swap;
} 
@font-face {
  font-family: "Helvetica Neue Light";
  src: local("Helvetica Neue Light"), url('./assets/fonts/helvetica/Helvetica-Neue-Light.ttf');
  font-weight: 300;
  font-display: swap;
} 
@font-face {
  font-family: "SF-Pro-Rounded-Regular";
  src: local("SF-Pro-Rounded-Regular"), url('./assets/fonts/FontsFree-Net-SF-Pro-Rounded-Regular.ttf');
  font-display: swap;
} 
@font-face {
  font-family: "SF-Pro-Rounded-Medium";
  src: local("SF-Pro-Rounded-Medium"), url('./assets/fonts/FontsFree-Net-SF-Pro-Rounded-Medium.ttf');
  font-display: swap;
} 
@font-face {
  font-family: "SF-Pro-Rounded-Semibold";
  src: local("SF-Pro-Rounded-Semibold"), url('./assets/fonts/FontsFree-Net-SF-Pro-Rounded-Semibold.ttf');
  font-display: swap;
} 
@font-face {
  font-family: "SF-Pro-Rounded-Bold";
  src: local("SF-Pro-Rounded-Bold"), url('./assets/fonts/FontsFree-Net-SF-Pro-Rounded-Bold.ttf');
  font-display: swap;
} 
body {
    margin: 0;
    font-family: "Helvetica Neue Regular", 'Ubuntu','SF-Pro-Rounded-Regular', sans-serif;
  }
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6,.ag-theme-balham{
    font-family: "Helvetica Neue Regular", sans-serif;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
